# Ignore node modules and build outputs
node_modules
packages/**/node_modules
dist
**/dist
build
**/build

# Git and IDE
.git
.vscode
.idea

# OS / logs
.DS_Store
npm-debug.log
yarn-error.log
yarn-debug.log
pnpm-debug.log
coverage

# Environment
.env
.env.local
.env.*.local

# Docker
Dockerfile
.dockerignore
