name: Build and Publish frontend image to Docker Hub

on:
  [workflow_dispatch]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build ./packages/frontend/ -t nipkowmike/modbus-simulator-frontend:latest
    - name: Push image to Docker Hub
      run: |
        docker login -u nipkowmike -p ${{ secrets.DOCKER_HUB_TOKEN }}
        docker push nipkowmike/modbus-simulator-frontend:latest
